@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #0A2662;
    color: #fff;
}

section {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq {
    max-width: 800px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.5rem;
}

.question h3:hover {
    font-size: 1.7rem;
}

.faq.active .answer {
    max-height: 300px;
}

.title {
   font-size: 3rem;
   margin: 2rem 0rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.7;
    font-size: 1rem;
}